
#Swagger {
  height:200px;
  width: 56.5%;
  border-style: ridge;
  border-color: silver;
  margin-left: 150px;

}



#body{
  text-align: center;
  background-image: url('blueback.jpg');


  }

#boxScore {
width: 300px;
length: 400px;
color: black;
border:solid;
border-radius: 100%;
border-style: ridge;
font-style: italic;
border-color: blue;
font: Lucida;

}



canvas {
 background-color: red;
}
